h3{
    color: #4DB033;
}
select{
    width: 20%;
}
.selecao{
    text-align: -webkit-center;
    border-bottom: double blueviolet;
}
.selecao button{
    background-color: blueviolet;
    border-radius: 20px;
    margin: auto;
    width: 13%;
    font-weight: bold;
    transition: 0.5s;
}
.selecao button:hover{
    color: white;
    transition: 0.5s;
}
.espaco{
    height: 220px;
    text-align: -webkit-center;
}
.espaco h1{
    color: #6f2c91;
    font-style: italic;
    margin-top: 140px;
    font-size: 3.5em;
}
.status{
    display: none;
    margin-left: 100px;
    width: 80%;
    margin-bottom: 10px;
    transition: 1s;
}
.status img{
    width: 70%;
}
.lbl{
    font-size: larger;
    font-weight: bold;
}
.titulozinho{
    color: #6f2c91;
}
.campoOnOff{
    align-items: center;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    border: dotted blueviolet;
    border-radius: 20px;
}
.on{
    align-items: center;
    color: green;
    display: flex;
}
.on img{
    margin-right: 10px;
    width: 80%; 
    height: 40%;
}
.on h2{
    font-size: xx-large;
    background-color: rgba(0, 128, 0, 0.3);
    padding: 15px;
}
.off{
    align-items: center;
    color: red;
    display: flex;
}
.off img{
    margin-right: 10px;
    width: 80%; 
    height: 40%;
}
.off h2{
    font-size: xx-large;
    background-color: rgba(255, 0, 0, 0.3);
    padding: 15px;
}


@media only screen and (max-width: 1200px) {
    .options a{
    font-size: large;
    transition: 0.5s;
    }
}

@media only screen and (max-width: 950px){
    .escrita{
        width: 100%;
        font-size: 1.3em;
        transition: 0.5s;
    }
    .topo img{
        height: 160px;
        margin-top: 60px;
        margin-left: -22px;
    }
}
@media only screen and (max-width: 600px){
    select{
        width: 90%;
        margin-bottom: 10px;
    }
    .selecao button {
        margin-bottom: 10px;
        width: 30%;
        color: white;
    }
    .status{
        margin-left: 0px;
        width: 100%;
    }
    .status img{
        width: 100%;
        margin-left: 0% !important;
    }
    .campoOnOff{
        height: 140px;
        width: 90%;
        margin-left: 5%;
    }
    .on{
        display: inline;
        padding: 15px;
        text-align: -webkit-center;
        font-size: 1em;
    }
    .on h1{
        margin: 0px;
    }
    .on h2{
        margin: 0px;
        font-size: 3em;
        border-radius: 20px;
    }
    .on img{
        display: none;
    }
    .off{
        display: inline;
        padding: 15px;
        text-align: -webkit-center;
        font-size: 1em;
    }
    .off h1{
        margin: 0px;
    }
    .off h2{
        margin: 0px;
        font-size: 3em;
        border-radius: 20px;
    }
    .off img{
        display: none;
    }
}