.info{
    text-align: -webkit-center;
    width: 58%;
}
.info h3{
    color: #6f2c91;
    font-size:xx-large;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.escrita{
    font-family: Arial, Helvetica, sans-serif;
    width: 90% !important;
    text-align: justify;
    font-size: x-large;
    margin-bottom: 25px;
}
.escrita2{
    color: #4DB033;
    font-size: 1.5em;
    margin-bottom: 20px;
    transition: 0.5s;
}
label{
    color: #6f2c91;
    font-size: 2em;
}
.info2{
    height: 75%;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-right: 2%;
    border: dotted #6f2c91;
    border-radius: 20px;
    width: 45%;
    padding: 20px;
}
.escrita3{
    text-align: center;
    margin-top: 25px;
}
.titulo{
    font-size: xx-large;
    color: #4DB033;
}
.preco{
    font-size: 70px;
    color: #4DB033;
}
.topico{
    font-size: larger;
    color: black;
}
.btnComprar{
    margin-left: -5px;
    margin-bottom: 45px;
    margin-top: 20px;
    color: white;
    background-color: #6f2c91;
    cursor: pointer;
    border: #6f2c91;
    border-radius: 15px;
    width: 22%;
    height: 45px;
    font-weight: bold;
    font-size: 16px;
    transition: 0.5s;
    min-width: min-content;
}
.btnComprar:hover{
    color: #13011b;
    transition: 0.5s;
}

@media only screen and (max-width: 1200px) {
    .options a{
    font-size: large;
    transition: 0.5s;
    }
    .escrita{
        width: 100%;
        font-size: 1.5em;
    }
    .escrita2{
        width: 100%;
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 950px){
    .escrita{
        width: 100%;
        font-size: 1.3em;
        transition: 0.5s;
    }
    .logo{  
        transition: 0.5s;
    }
    .escrita2{
        font-size: 1.3em;
        transition: 0.5s;
    }
}

@media only screen and (max-width: 600px){
    .escrita{
        width: 100%;
        font-size: 1.3em;
        transition: 0.5s;
    }
    .escrita2{
        font-size: 1.3em;
        transition: 0.5s;
    }
    label{  
        font-size: 1.2em;
    }
    .titulo{
        font-size: 1.3em;
        color: #4DB033;
    }
    .preco{
        font-size: 1.3em;
        color: #4DB033;
    }
    .btnComprar{
        color: white;
        width: 60%;
    }
    .info2{
        margin-top: 15%;
        margin-bottom: 15%;
    }
}