.cadastrar{
    /* text-align: -webkit-center; */
    display: flex;
}
.titulo1{
    color: #4DB033;
    margin-bottom: 0px;
    font-weight: bold;
    text-align: -webkit-center;
}
.titulo2{
    color: #6f2c91;
    margin-top: 0px;
    margin-bottom: 50px;
    font-weight: bold;
    text-align: -webkit-center;
}
.cadastrar input{
    height: 20px;
    margin-top: 0px;
    margin-bottom: 50px;
    width: 80%;
    border-radius: 7px;
    border-color: #4DB033;
    text-shadow: blue;
}
.cadastrar label{
    font-size: large;
    color: #6f2c91;
    font-weight: bold;
    text-align: left !important;
    margin-left: 0%;
}
.esquerda{
    width: 50%;
    margin-left: 8%;
}
.direita{
    width: 50%;
}
.continuar{
    background-color: blueviolet;
    border-radius: 10px;
    margin-left: 45%;
    font-weight: bold;
    font-size: large;
    height: 40px;
    margin-bottom: 20px;
    text-align: -webkit-center !important;
    transition: 0.5s;
}
.continuar:hover{
    color: white;
    transition: 0.5s;
}
