h3{
    color: #4DB033;
}
select{
    width: 20%;
}
.selecao{
    text-align: -webkit-center;
    border-bottom: double blueviolet;
}
.selecao button{
    background-color: blueviolet;
    border-radius: 20px;
    margin: auto;
    width: 13%;
    font-weight: bold;
    transition: 0.5s;
}
.selecao button:hover{
    color: white;
    transition: 0.5s;
}
.status{
    display: none;
    margin-left: 100px;
    width: 80%;
    margin-bottom: 10px;
    transition: 1s;
}
.status img{
    width: 70%;
    margin-left: 15%;
}
.campoOnOff{
    align-items: center;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    border: dotted blueviolet;
    border-radius: 20px;
}
.on{
    align-items: center;
    color: green;
    display: flex;
}
.on img{
    margin-right: 10px;
    width: 80%; 
    height: 40%;
}
.on h2{
    font-size: xx-large;
    background-color: rgba(0, 128, 0, 0.3);
    padding: 15px;
}
.off{
    align-items: center;
    color: red;
    display: flex;
}
.off img{
    margin-right: 10px;
    width: 80%; 
    height: 40%;
}
.off h2{
    font-size: xx-large;
    background-color: rgba(255, 0, 0, 0.3);
    padding: 15px;
}


@media only screen and (max-width: 1200px) {
    .options a{
    font-size: large;
    transition: 0.5s;
    }
}

@media only screen and (max-width: 950px){
    .escrita{
        width: 100%;
        font-size: 1.3em;
        transition: 0.5s;
    }
    .topo img{
        height: 160px;
        margin-top: 60px;
        margin-left: -22px;
    }
}